<div class="container">
    <div class="row mt-2">
      <div class="col col-md-4 offset-md-4">
        <a class="btn btn-primary" href="/client/create">Create</a>
      </div>
    </div>
    <table class="table">
      <!-- code hidden for display purpose -->
    </table>
  </div>

<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allclients">
        
          <td>{{ item.nameClt }}</td>
          <td>{{ item.prenome }}</td>
          <td>{{ item.email}}</td>
          <td>{{ item.adresse}}</td>
          <td>{{ item.NumTel}}</td>

        </tr>
        <tr *ngFor="let item of allclients">
 
            <td>
              <a class="btn btn-primary" href="['/client/edit', item.Id]">Edit</a>
            </td>
            <!-- existing code hidden for display purpose -->
<div class="container">
  
    <table class="table">
     
    
      <tbody>
        <tr *ngFor="let item of allclients">
          <td>
            <a  href="['/client/edit', item.Id]">Edit</a> |
            <button type="button" (click)="openDeleteModal(item.Id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
   
   
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete the item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>
        </tr>
      </tbody>
    </table>
  </div>
<a href="../client/create">create</a>
<a href="../client/edit">update</a>